<!DOCTYPE html>
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Dodaj nowy przepis</title>
</head>
<body>
<main class="main-content" layout:fragment="content">
    <h2 class="list-heading">Dodaj nowy prepis</h2>
    <form action="#" th:action="@{/admin/dodaj-przepis}" method="post" enctype="multipart/form-data" class="mc-form" th:object="${recipe}">
        <label for="title">Tytuł</label>
        <input type="text" id="title" placeholder="Przykładowy tytuł" th:field="*{title}">
        <label for="genre">Kategoria</label>
        <select id="genre" th:field="*{category}" required>
            <option value="" hidden>Wybierz kategorie</option>
            <option th:each="genre: ${genres}" th:value="${genre.name}" th:text="${genre.name}"></option>
        </select>
        <label for="promoted">Promowanie na stronie głównej?</label>
        <input id="promoted" type="checkbox" th:field="*{promoted}">
        <label for="poster">Plakat</label>
        <input type="file" id="poster" th:field="*{poster}" accept="image/png, image/jpeg">
        <label for="trailerId">Identyfikator trailera Youtube</label>
        <input type="text" id="trailerId" placeholder="abcdefgh" th:field="*{youtubeTrailerId}">
        <label for="shortDescription">Krótki opis - max 200 znaków</label>
        <textarea id="shortDescription" rows="5" th:field="*{shortDescription}"></textarea>
        <label for="description">Pełny opis</label>
        <textarea id="description" rows="10" th:field="*{description}"></textarea>
        <button type="submit">Dodaj</button>
    </form>
</main>
</body>
</html>