<!DOCTYPE html>
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<head>
  <!-- Ustawiamy tytuł -->
  <title th:text="|${recipe.title} - Przepisy|">Tytuł przepisu - Przepisy</title>
</head>
<body>
<div class="container">
  <main class="main-content" layout:fragment="content">
    <section class="recipe">
      <!-- Podsumowanie -->
      <div class="recipe-summary">
        <!-- Ustawiamy adres i opis plakatu -->
        <img src="../static/img/poster-placeholder.png"
             th:src="${recipe.poster ne null} ? @{|/img/${recipe.poster}|} : @{/img/poster-placeholder.png}"
             alt="tytuł filmu"
             th:alt="${recipe.title}"
             class="recipe-summary-cover"
        />
        <!-- informacje o przepisie -->
        <div class="recipe-summary-info">
          <!-- Ustawiamy tytuły, krótki opis -->
          <h1 class="recipe-summary-title" th:text="${recipe.title}">Kurczak w sosie smietanowym</h1>
          <!-- Ustawiamy link do strony gatunku  -->
          <p class="recipe-summary-item">Kategoria: <a href="#"
                                                    th:href="@{|/kategoria/${recipe.category}|}"
                                                    th:text="${recipe.category}">Fantasy</a>
          </p>
          <p class="recipe-summary-item" th:text="${recipe.shortDescription}">
            Podróż odważnego hobbita i jego towarzyszy w poszukiwaniu pierścienia.
          </p>
        </div>
      </div>
      <!-- Ocena -->
      <div class="recipe-rating-container recipe-section">
        <h2 class="recipe-section-heading">Ocena</h2>
        <!-- Jeżeli nie oddano żadnego głosu -->
        <p th:unless="${recipe.ratingCount}">Brak głosów</p>
        <!-- Jeżeli oddano głos -->
        <div th:if="${recipe.ratingCount}">
          <!-- Zaokrąglamy ocenę do 1 miejsca przed i po przecinku -->
          <p class="recipe-rating-value" th:text="${#numbers.formatDecimal(recipe.avgRating, 1, 1)}">4.0</p>
          <p th:text="|Liczba ocen: ${recipe.ratingCount}|">Liczba ocen: 134</p>
        </div>
        <!-- Dodajemy th:action, formularz wyświetlamy tylko zalogowanemu użytkownikowi -->
        <form action="#" th:action="@{/ocen-przepis}" method="post"
              sec:authorize="isAuthenticated()"
              class="recipe-rating-form">
          <!-- Identyfikator filmu, na który głosujemy-->
          <p>Twoja ocena</p>
          <input type="hidden" name="recipeId" th:value="${recipe.id}">
          <div class="recipe-rating-buttons">
            <!-- Generujemy 5 gwiazdek w pętli -->
            <button class="recipe-rating-button"
                    name="rating"
                    th:each="i: ${#numbers.sequence(1, 5)}"
                    th:value="${i}">
              <!-- Pełną i pustą gwiazdkę rozróżniamy dodając odpowiednią klasę na podstawie głosu użytkownika -->
              <i class="fa-star" th:classappend="${i <= userRating ? 'fa-solid' : 'fa-regular'}"></i>
            </button>
          </div>
        </form>
        <!-- Link do logowania wyświetlamy tylko wtedy, gdy użytkownik nie jest zalogowany -->
        <p sec:authorize="!isAuthenticated()">
          <a href="#" th:href="@{/login}">Zaloguj się</a>, aby oddać głos
        </p>
      </div>
    </section>

    <!-- opis -->
    <section class="recipe-section">
      <h2 class="recipe-section-heading">Przepis</h2>
      <!-- Ustawiamy pełny opis -->
      <p th:text="${recipe.description}">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.
        Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla.
        Donec lacinia congue felis in faucibus.</p>
    </section>

    <!-- trailer -->
    <section class="recipe-trailer-container recipe-section">
      <h2 class="recipe-section-heading">Instrukacja</h2>
      <!-- Ustawiamy url filmu z przepisem -->
      <iframe width="560" height="315" class="recipe-trailer"
              src="https://www.youtube.com/embed/V75dMMIW2B4"
              th:src="|https://www.youtube.com/embed/${recipe.youtubeTrailerId}|"
              frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </section>
  </main>
</div>
</body>
</html>